// Footer
.container-flow.navbar-dark.bg-dark
    ul#footer.navbar.justify-content-center.navbar-dark.bg-dark.static-bottom.p-3
        li
            figure.imagen-footer.d-block
                img(src='../images/Logo_unad.png', alt='')