extend ../components/plantilla.pug
block contenidos
    .container
        .row.justify-content-center
            +perfil('../images/indira.jpeg','Foto Indira','Indira Rodríguez Montenegro','irodriguezmon@unadvirtual.edu.co')
            +perfil('../images/sergio.jpeg', 'Foto Sergio','Sergio Andrés Villegas Pérez','sergioa.vpe23@gmail.com')
            +perfil('../images/ehimar.jpeg', 'Foto Ehimar','Ehimar Edim Ramirez Moreno','ramirezmaster72@gmail.com')
            +perfil('../images/gerardo.jpeg', 'Foto Gerardo','Gerardo Carvajal','gerardocarvajalortiz@gmail.com')
            +perfil('../images/fad.jpeg', 'Foto Fadith','Fadith Enrique Escorcia Mujica','feescorciam@pm.me')